os: linux
language: java
services:
  - docker
cache: bundler
dist: focal
install: skip
stages:
  - name: test-branch
jobs:
  include:
    - stage: tests
      name: testing
      script: true
after_success:
  - echo passed
  - echo $TRAVIS_TEST_RESULT
after_failure:
  - echo failed
  - echo $TRAVIS_TEST_RESULT
notifications:
  webhooks:
    urls:
      - url: htp://this-is-not-a-valid-url
        msteams: true
